---
import type { ArticleMeta, Meta } from "../../types";
type Props = {
  meta: Meta | ArticleMeta;
};
const { meta } = Astro.props;

import { ClientRouter } from "astro:transitions";
import { NAVIGATION_LINKS, OTHER_LINKS, SITE } from "../../config";
import WebPageSchema from "../schema/WebPageSchema.astro";
import PersonSchema from "../schema/PersonSchema.astro";
import TableOfContentSchema from "../schema/TableOfContentSchema.astro";
import BlogPostingSchema from "../schema/BlogPostingSchema.astro";
const isArticleMeta = (props: Props["meta"]): props is ArticleMeta =>
  props.type === "article";
const canonicalURL = new URL(Astro.url.pathname, Astro.site).href;
const OGImage = new URL(meta.ogImage, Astro.url).href;
const webpage = [
  {
    url: canonicalURL,
    name: meta.metaTitle,
    description: meta.description,
    keywords:
      "prisri.org, prisri, prisri blog, Priyansh Srivastava blog, PRISRI BLOG, prisri.org blog, PriSri, PriSri Blog",
  },
];

const tablecontent = [
  {
    name: "Home",
    url: SITE.url,
  },
  {
    name: "Articles",
    url: `${SITE.url}/articles/`,
  },
];
NAVIGATION_LINKS.map(({ href, text, target }) => {
  tablecontent.push({
    url: SITE.url + href + `/`,
    name: text,
  });
});
OTHER_LINKS.map(({ href, text, target }) => {
  tablecontent.push({
    url: SITE.url + href + `/`,
    name: text,
  });
});
---

<head>
  <meta charset={SITE.charset} />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="generator" content={Astro.generator} />

  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content={SITE.title} />
  <link rel="manifest" href="/site.webmanifest" />

  <link rel="sitemap" href="/sitemap-index.xml" />
  <link
    rel="alternate"
    type="application/rss+xml"
    title={SITE.title + " RSS Feed"}
    href={new URL("rss.xml", Astro.site)}
  />
  <link
    rel="alternate"
    type="application/json"
    title={SITE.title + " JSON Feed"}
    href={new URL("feed.json", Astro.site)}
  />
  <link rel="canonical" href={canonicalURL} />
  <title>{meta.title}</title>
  <meta name="title" content={meta.metaTitle} />
  <meta name="description" content={meta.description} />
  {
    isArticleMeta(meta) ? (
      <meta
        name="keywords"
        content={
          meta.metaTitle.replace(" - ", ", ") + ", " + meta.keywords.join(", ")
        }
      />
    ) : (
      <meta
        name="keywords"
        content="PriSri.org, prisri.org, prisri blog, PriSri Blog, About Priyansh Srivastava, PriSri, pri sri, new website prisri, new data pri sri, new website PRISRI BLOG, PRISRI BLOG"
      />
    )
  }
  <meta name="author" content={SITE.author} />
  <meta name="publisher" content={SITE.author} />
  {
    meta.title.includes("404") ? (
      <meta name="robots" content="noindex, nofollow" />
    ) : (
      <meta name="robots" content="index, follow" />
    )
  }
  <meta property="og:type" content={meta.type} />
  <meta property="og:url" content={canonicalURL} />
  <meta property="og:title" content={meta.metaTitle} />
  <meta property="og:description" content={meta.description} />
  <meta property="og:image" content={OGImage} />
  <meta property="og:image:alt" content={meta.ogImageAlt} />
  <meta property="og:site_name" content={SITE.title} />

  <meta property="twitter:site" content={Astro.site} />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={canonicalURL} />
  <meta property="twitter:title" content={meta.metaTitle} />
  <meta property="twitter:description" content={meta.description} />
  <meta property="twitter:image" content={OGImage} />
  <meta property="twitter:image:alt" content={meta.ogImageAlt} />

  <meta name="google-adsense-account" content="ca-pub-5591515314789878" />
  <!-- <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5591515314789878"
    crossorigin="anonymous"></script> -->
  <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"
  ></script>
  <script is:inline>
    window.googletag = window.googletag || { cmd: [] };
    googletag.cmd.push(function () {
      googletag
        .defineSlot(
          "/22983082078/prisriorg",
          [300, 250],
          "div-gpt-ad-1738670701142-0"
        )
        .addService(googletag.pubads());
      googletag.pubads().enableSingleRequest();
      googletag.enableServices();
    });
  </script>

  {
    isArticleMeta(meta) ? (
      <>
        <meta
          property="article:published_time"
          content={new Date(meta.publishedTime).toISOString()}
        />
        <meta
          property="article:modified_time"
          content={new Date(meta.lastModified).toISOString()}
        />

        {meta.authors.map((author) => (
          <>
            <meta property="author" content={author.name} />
            <meta
              property="article:author"
              content={`${Astro.site}authors/${author.link}`}
            />
          </>
        ))}

        <BlogPostingSchema meta={meta} />
      </>
    ) : (
      <>
        <WebPageSchema main={webpage} />
        <TableOfContentSchema main={tablecontent} />
      </>
    )
  }

  <PersonSchema />

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DNZGP1NM5S"
  ></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-DNZGP1NM5S");
  </script>
  <ClientRouter />
</head>
